body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-image: url('images/dices-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.bg-1{
    background : linear-gradient(to right, hsla(180, 15%, 95%, 0.9) 50%, hsla(0, 0%, 100%, 0.9) 50%);

}
.bg-2{
    background : linear-gradient(to left, hsla(180, 15%, 95%, 0.9) 50%, hsla(0, 0%, 100%, 0.9) 50%);

}
button{
    font-weight: 300;
}
.over:hover{
    font-weight: bold;
}
.score{
    font-size: 4em;
    font-weight: 100;
    color: #CF2D2D;
}
.current{
    width: 200px;
    margin: auto;
    background-color: #CF2D2D;
}

.active{
    color: #CF2D2D;
    font-weight: 700;  
}


#diceResult img{
    height: 150px;
    width: 150px;
    box-shadow: 5px 5px 10px rgba(97, 97, 97, 0.541);
    border-radius: 25px;
}

